#login,#login2{
    background-color:royalblue;
    text-align: center;
    border-radius: 12px;
    margin:25px ;
    float: none;
    padding: 25px;
}

h1,h5{
    font-family: 'Unica One', cursive;
}

body{
    background-color: darkcyan;
}